.row {
    margin-top: 10px;
}

.b2 {
    background-color: lightgray;
}

.b {
    background-color: gray;
}

.myButton {
	background-color:#198754;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:3px 7px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#52de0b;
}
.button {
	margin-left: 20px;
}

.labelInput {
    margin-top: 5px;
    margin-bottom: 5px;
    display:inline-block;
    *display: inline;
    zoom:1;
    vertical-align:middle;
    margin-left:20px
}
